*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1154px;
}

.header {
    background-image: url('../photobakery/backgroundimage1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 44px;
}

.list {
    padding-top: 55px;
    margin-bottom: 71px;
    display: flex;
    list-style: none;
}

.header-text-wrap {
    width: 570px;
}

.header-link {
    margin-right: 40px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
}

.header-title {
    margin-bottom: 39px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 70px;
    font-weight: 200;
}

.header-text {
    line-height: 150%;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 21px;
}

.header-button {
    margin-top: 55px;
    width: 205px;
    height: 55px;
    background-color: #B47B48;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 125px;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 310px;
}

.card-item:hover {
    background-color: #EBAD51;
    cursor: pointer;
}

.card-item {
    display: flex;
    align-items: center;
    background-color: #272727;
    height: 100%;
}

.card-img {
    width: 176px;
}

.price {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
}

.food-name {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

.card-button {
    width: 79px;
    height: 34px;
    background-color: #C85312;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 16px;
}

.food-title {
    text-align: center;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 800;
    line-height: 31px;
}

.menu {
    background-color: #202023;
    text-align: center;
    padding-bottom: 73px;
}

.food-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 72px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    margin-bottom: 15px;
}

.food-wrap {
    width: 328px;
    height: 250px;
    margin: 57px 80px;
}

.food-name {
    padding-bottom: 44px;
}

.food-img {
    width: 244px;
    height: 230px;
    object-fit: contain;
}

.main-title {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 64px;
    line-height: 77.45px;
}

.order-button {
    width: 137px;
    height: 41px;
    border: none;
    border-radius: 20px;
    background-color: #B47B48;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 26px;
    line-height: 31px;
    font-weight: 800;
}

.quality-our-bakery {
    width: 100%;
    background-position: 50% 100%;
    background-color: #202023;
    background-image: url('../photobakery/qualityourbekary.png');
    background-size: 150%;
    background-repeat: no-repeat;
}

.quality-wrapper {
    display: flex;
    height: 800px;
    align-items: center;
    position: relative;
}

.quality-wrap {
    width: calc(33% - 54px);
    height: 516px;
    margin: 27px;
}

.quality-photo {
    width: 100%;
}

.quality-title {
    position: absolute;
    right: 10px;
}

.quality-wrap:first-child {
    align-self: flex-start;
}

.quality-wrap:nth-child(2) {
    align-self: center;
}

.quality-wrap:last-child {
    align-self: flex-end;
}

.quality-title {
    text-align: start;
    color: #FFFFFF;
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 64px;
    line-height: 75.39px;
}

.quality-text {
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.quality-list-wrap {
    background-color: gray;
    padding-left: 40px;
    padding-top: 20px;
}

.quality-list {
    padding-bottom: 20px;
}

.why-us {
    background-size: cover;
    height: 575px;
    background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.50)),
        url('../photobakery/backgroundimage2.jpg');
    background-repeat: no-repeat;
}

.why-us-wrapper {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.why-us-title {
    width: 50%;
    padding-top: 55px;
    color: #D9D9D9;
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
}

.why-title {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    line-height: 29px;
}

.where-how-when {
    height: 700px;
    background-color: #202023;
}

.where-how-when-wrapper {
    display: flex;
    justify-content: space-between;
}

.where-how-when-wrap {
    display: flex;
    justify-content: flex-end;
}

.social-networks {
    align-self: center;
}

.where {
    padding-top: 66px;
    padding-bottom: 44px;
    color: #ffffff;
    font-family: 'Italiana';
    font-size: 48px;
    font-weight: 400;
}

.how-tel {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 40px;
    text-decoration: none;
}

.tel {
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
    padding-right: 50px;
    text-decoration: none;
}

.networks {
    line-height: 87px;
    text-decoration: none;
}

.when-time {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 49px;
    text-decoration: none;
}

.time {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    font-size: 200;
    text-decoration: none;
}

.networks {
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
}

.footer {
    background-color: #202023;
    width: 100%;
    height: 351px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 150px;
}

.footer-description h1:first-child {
    margin-bottom: 41px;
}

.footer-name {
    width: 24%;
    flex-basis: calc((100% - 300px) /3);
}

.footer-description {
    width: 33%;
    flex-basis: calc((100% - 300px) /3);
}

.footer-title {
    width: 322px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 16px;
}

.footer-text {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
}

.footer-desc-title {
    width: 143px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
}

span {
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 20px;
}